.wrapper {
    margin: 0 auto;
    max-width: 1080px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

footer {
    text-align: center;
}