@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EDE9E6;
    font-family: "Roboto", sans-serif;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2C3947;
    margin-bottom: 15px;
}

img.medium {
    max-width: 600px;
    width: 100%;
    height: auto;
}

img.small {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.center {
    display: block;
    margin: 0 auto;
}
